/* HEADER */


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    z-index: 100;
    padding: 0 20px;
}

.studio-header {
    /* background-color: var(--primary-background-color);
    box-shadow: 0 2px 5px rgba(32,32,32,.1); */
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 17.19%, rgba(255, 255, 255, 0.7) 36.98%, rgba(255, 255, 255, 0.5) 57.81%, rgba(255, 255, 255, 0) 100%);
}

.studio-header__nav {
    max-width: 1200px;
    margin: 1rem auto 0;
}

.studio-header__nav__ul {
    display: flex;
    flex-direction: row;
    /* background-color:yellow; */
    justify-content: space-between;
    height: 70px;
}


.studio-header__nav__ul__li--page-link {
    margin-top: 2rem;
    height: 2rem;
}

.studio-header_mobile-bar {
    display: none;
}


.studio-header__nav__ul__li__span--large-letter.left {
    margin: 0 30px 0 0;
}
.studio-header__nav__ul__li__span--large-letter.center {
    margin: 0 30px;
}
.studio-header__nav__ul__li__span--large-letter.right {
    margin: 0 0 0 30px;
}


.studio-header__nav__ul__li__a {
    font-family: var(--title-font-family);
    font-size: var(--h4-font-size);
    letter-spacing: var(--h4-letter-spacing);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--font-color-on-white);
    width: 150px;
    text-align: center;
    margin-top: 1.5rem;
    position: relative;
}

.studio-header_cta-button {
    font-family: var(--title-font-family);
    font-size: var(--h4-font-size);
    letter-spacing: var(--h4-letter-spacing);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-on-dark);
}

h1.header-logo-title {
    margin-bottom: 0;
}

.studio-header-large.container {
    /* width: 1250px; */
}



/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

.studio-header_mobile-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    justify-content: space-between;
    padding: 1rem var(--side-padding);
    align-items: center;
}

@media (max-width: 1200px) {

    .studio-header_mobile-bar {
        display: none;
    }

    /* .studio-header-nav__full {
        display: none;
        opacity: 0;
    } */

    header.studio-header {
        /* background-color: var(--primary-background-color);
        box-shadow: 0 2px 2px rgba(32,32,32,.2);  */

        width: 100%;
      padding-right: calc(var(--side-padding)/2);
      padding-left: calc(var(--side-padding)/2);
    }


    .menu-item-has-children>a::before {
        /* display: block; */
    }

    header h1.header-logo-title,
    .toggle-header-nav { 
        display: inline-block;
    }

    a.toggle-header-nav svg {
        height: 30px;
        margin-top: 5px;
    }

    a.toggle-header-nav svg .rect {
        display: inline-block;
        right: var(--side-padding);
        width: 30px;
        fill: #fff;
    }

} 



.header-logo-title svg {
    width: 30px;
    display: block;
    animation: header-logo-pulse 5s infinite;
}

@media (max-width: 1000px) {
    .studio-header__nav__ul__li__span--large-letter {
        font-size: 120px;
    }


    .studio-header__nav__ul__li__span--large-letter.left {
        margin: 0 1rem 0 0;
    }
    .studio-header__nav__ul__li__span--large-letter.center {
        margin: 0 1rem;
    }
    .studio-header__nav__ul__li__span--large-letter.right {
        margin: 0 0 0 1rem;
    }
}

@media (max-width: 850px) {

    .studio-header_mobile-bar {
        position: fixed;
        display: flex;
        background: var(--secondary-background-color);
        z-index: 2000000;
    }

    .studio-header {
        height: 60px;
    }

    .studio-header__nav__ul {
        flex-direction: column;
    }

    .studio-header__nav__ul__li--large-letter {
        display: none;
    }

    .studio-header__nav__ul__li--page-link,
    .studio-header__nav__ul__li__a,
    .studio-header__nav__ul__li__a a,
    .studio-header__nav__ul__li__a:visited {
        text-align: left;
        color: var(--text-on-dark);
        /* border-bottom: 1px solid var(--primary-background-color); */
        margin: 0;
        display: block;
        width: 100%;
    }

    .studio-header__nav__ul__li__a {
        padding: 1rem 0;
        border-bottom: 1px solid #ffffff;
    }


    .studio-header-nav-item a:last-of-type {
        border: none;
        padding: 0;
    }

    .studio-header-nav-item__large-letter {
        display: none;
    }


    /* header.studio-header {
        height: 100vh;
    } */

    div.drop-down-menu {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100vW;
        height: 100vH;
        z-index: 0;
        padding: 6rem var(--side-padding) 0;
        opacity: 0;
        display: block;
        background-color: var(--secondary-background-color);
        transition: opacity 0.1s ease;
        display:none;
    }

    .studio-header-nav__full {
        /* position: absolute; */
        flex-direction: column;

    }

    .drop-down-menu.open {
        opacity: 1;
        display: block;
    }
}
