section.instructor-profile-post {
    padding-top: 6rem;
    min-height: 100vh;
}


.instructor-profile__background-container {
    top: 6rem;
    left: 0;
    width: 100vw;
    min-height: calc(100vh - 90px);
    z-index: -1;
}

.instructor-profile__background-container > div {
    min-height: calc(100vh - 90px);
    width: 49.8vw;
}





.instructor-profile__image {
    /* grid-column: 1 / 8; */
    /* width: 100%; */

    background-size: cover;
    background-position: center;
    /* top: 6rem; */
}

h1.instructor-profile__image__title {
    position: absolute;
    padding: 3rem;
    margin: 0;
    bottom: 0;
    z-index: 10;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: none;
    color: #ffffff;
    mix-blend-mode: difference;

}



.instructor-profile__introduction {
    grid-column: 8 / 12;
    width: 100%;
}

.instructor-profile__introduction p:last-of-type {
    margin-bottom: 0;
}

.instructor-profile__introduction__header {
    border-bottom: 1px solid var(--secondary-background-color);
}

.container--other-instructors {
    grid-column: 2/14;
}

.container--other-instructors__article {
    grid-column: span 3;
}



@media screen and (min-width: 30em) and (max-width: 60em) {
    div.instructor-profile.grid--col14 {
        display: block;
    }

    .instructor-profile__image {
        grid-column: 1 / -1;
        display: block;
        position: relative;
        top: 0;
    }
    .instructor-profile__introduction {
        grid-column: 3 / -3;
    }

}