@custom-media --small-viewport (max-width: 500px);

@font-face {
    font-family: "Nord";
    src:    url('fonts/Nord_Regular-webfont.woff2') format('woff2'),
            url('fonts/Nord_Regular-webfont.woff') format('woff'), 
            url('fonts/Nord_Regular.ttf') format('truetype'), 
            url('fonts/Nord_Regular.otf') format('opentype');
}

@font-face {
    font-family: "Apercu";
    src:    url('fonts/Apercu_Regular-webfont.woff2') format('woff2'), 
            url('fonts/Apercu_Regular-webfont.woff') format('woff'),
            url('fonts/Apercu_Regular-webfont.ttf') format('truetype'), 
            url('fonts/Apercu_Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src:      url('fonts/Apercu_Italic-webfont.woff2') format('woff2'), 
            url('fonts/Apercu_Italic-webfont.woff') format('woff'),
            url('fonts/Apercu_Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Apercu";
  src:      url('fonts/Apercu_Medium-webfont.woff2') format('woff2'), 
            url('fonts/Apercu_Medium-webfont.woff') format('woff'),
            url('fonts/Apercu_Medium-webfont.ttf') format('truetype'),
            url('fonts/Apercu_Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src:      url('fonts/Apercu_Medium_Italic-webfont.woff2') format('woff2'), 
            url('fonts/Apercu_Medium_Italic-webfont.woff') format('woff'),
            url('fonts/Apercu_Medium_Italic-webfont.ttf') format('truetype'), 
            url('fonts/Apercu_Medium_Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Apercu";
  src:      url('fonts/Apercu_Bold-webfont.woff2') format('woff2'), 
            url('fonts/Apercu_Bold-webfont.woff') format('woff'),
            url('fonts/Apercu_Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src:      url('fonts/Apercu_Bold_Italic-webfont.woff2') format('woff2'), 
            url('fonts/Apercu_Bold_Italic-webfont.woff') format('woff'),
            url('fonts/Apercu_Bold_Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

:root {
  --title-font-family: "Nord";
  --body-font-family: "Apercu";

  /* --h1-font-size: 46px; */
  --h1-font-size: 48px;
  --h1-line-height: 1;
  --h1-letter-spacing: 5px;

  --h2-font-size: 39px;
  /* --h2-font-size: 36px; */
  /* Previously 44px until 26th of August */
  --h2-line-height: 1;
  --h2-letter-spacing: 2px;

  --h3-font-size: 25px;
  /* --h3-font-size: 28px; */
  --h3-line-height: 1.2;
  --h3-letter-spacing: 2px;

  --h4-font-size: 20px;
  /* --h4-font-size: 18px; */
  --h4-line-height: 1.3;
  --h4-letter-spacing: 1px;

  --h5-font-size: 15px;
  --h5-line-height: 1;
  --h5-letter-spacing: 1px;

  --h6-font-size: 13px;
  --h6-line-height: 1;
  --h6-letter-spacing: 1px;

  /* --body-font-size: 15px; */
  --body-font-size: 16px;
  --body-line-height: 1.6;
  --body-letter-spacing: 0;

  --small-body-font-size: 13px;
  --small-body-font-line-height: 1.2;
  --small-body-letter-spacing: 0;

  --x-small-body-font-size: 10px;
  --x-small-body-font-line-height: 1.2;
  --x-small-body-letter-spacing: 1;


  --font-color-on-white: #202020;
  --font-color-on-dark: #ffffff;

  --font-color-cta-button: #202020;
  --font-color-cta-button-hover: #ffffff; 
}

/* @media (max-width: 600px) {
  :root {
    --title-font-family: "Nord";
    --body-font-family: "Apercu";
  
    --h1-font-size: 50px;
    --h1-line-height: 1;
    --h1-letter-spacing: 7px;
  
    --h2-font-size: 38px;

    --h2-line-height: 1;
    --h2-letter-spacing: 5px;
  
    --h3-font-size: 28px;
    --h3-line-height: 1;
    --h3-letter-spacing: 4px;
  
    --h4-font-size: 21px;
    --h4-line-height: 1.3;
    --h4-letter-spacing: 3px;
  
    --h5-font-size: 16px;
    --h5-line-height: 1;
    --h5-letter-spacing: 1px;
  
    --body-font-size: 15px;
    --body-line-height: 1.4;
    --body-letter-spacing: 0;
  
    --small-body-font-size: 10px;
    --small-body-font-line-height: 1.2;
    --small-body-letter-spacing: 0;
  
    --font-color-on-white: #202020;
    --font-color-on-dark: #ffffff;
  
    --font-color-cta-button: #202020;
    --font-color-cta-button-hover: #ffffff; 
  }
} */


h1, h2, h3, h4, h5, h6,
.intro-offer-type,
.intro-offer-classes,
.intro-offer-classes-text,
.intro-offer-price {
  font-family: var(--title-font-family);
  font-weight: 400;
  text-transform: uppercase;
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: pixel antialiased;  */

}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: var(--font-color-on-white);
  color: transparent;
  /* background-color: gold; */
  /* background-color: #FFE70F; */
  /* padding: 0px 5px 2px 2px; */
  margin-bottom: 45px;
}


h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
  /* -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: var(--font-color-on-white); */
  color: #202020;
  margin-bottom: 30px;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  color: var(--font-color-on-white);
  margin-bottom: 15px;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-spacing);
  color: var(--font-color-on-white);
  margin-bottom: 15px;
}

h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
  letter-spacing: var(--h5-letter-spacing);
  color: var(--font-color-on-white);
  margin-bottom: 15px;
}

h6 {
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
  letter-spacing: var(--h6-letter-spacing);
  color: var(--font-color-on-white);
  margin-bottom: 1rem;
}

p + p {
  margin-top: 1rem;
}

p + h2 {
  margin-top: 4rem;
}

p + h3 {
  margin-top: 3rem;
}

p + h4 {
  margin-top: 2rem;
}

p + a {
  margin-top: 3rem;
}


html, body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--font-color-on-white);
  /* -webkit-font-smoothing: subpixel-antialiased; */
  -webkit-font-smoothing: antialiased; 
}

p::selection {
  background: #F8FF34;
}
/* ul.studio-header-menu li a {
  font-family: var(--title-font-family);
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  text-transform: uppercase;
  text-decoration: none;
} */


/* .store-header-inner-container h1.large-letter a {
  color: white;
  text-decoration: none;
  font-size: 170px;
  line-height: 1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--font-color-on-white);
  letter-spacing: 45px;
} */

/* .intro-offer-type,
.intro-offer-classes,
.intro-offer-classes-text,
.intro-offer-price {
  font-family: var(--title-font-family);
  display: block;
} */

/* Mindbody Widget  */

@media (max-width: 900px) {
  :root {
    --h1-font-size: 37px;
    --h1-line-height: 1;
    --h1-letter-spacing: 4px;
  
    --h2-font-size: 30px;
    --h2-line-height: 1;
    --h2-letter-spacing: 2px;
  
    --h3-font-size: 24px;
    --h3-line-height: 1;
    --h3-letter-spacing: 1px;
  
    --h4-font-size: 18px;
    --h4-line-height: 1.3;
    --h4-letter-spacing: 1px;
  
    --h5-font-size: 16px;
    --h5-line-height: 1;
    --h5-letter-spacing: 1px;
  
    --body-font-size: 16px;
    --body-line-height: 1.5;
    --body-letter-spacing: 0;
  
    --small-body-font-size: 13px;
    --small-body-font-line-height: 1.2;
    --small-body-letter-spacing: 0;
  
    --x-small-body-font-size: 10px;
    --x-small-body-font-line-height: 1.2;
    --x-small-body-letter-spacing: 1;
  }
}


@media (max-width: 400px) { 

  /* :root {
    --h1-font-size: 40px;
    --h1-line-height: 1;
    --h1-letter-spacing: 3px;
  
    --h2-font-size: 31px;
    --h2-line-height: 1;
    --h2-letter-spacing: 3px;
  
    --h3-font-size: 23px;
    --h3-line-height: 1;
    --h3-letter-spacing: 2px;
  
    --h4-font-size: 21px;
    --h4-line-height: 1.3;
    --h4-letter-spacing: 1px;
  
    --h5-font-size: 15px;
    --h5-line-height: 1;
    --h5-letter-spacing: 1px;
  
    --body-font-size: 15px;
    --body-line-height: 1.4;
    --body-letter-spacing: 0;
  
    --small-body-font-size: 13px;
    --small-body-font-line-height: 1.2;
    --small-body-letter-spacing: 0;
  
    --x-small-body-font-size: 10px;
    --x-small-body-font-line-height: 1.2;
    --x-small-body-letter-spacing: 1;
  } */ 

  h1 {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: var(--font-color-on-white);
    color: transparent;
    margin-bottom: 2rem;
  }
  
  
  h2 {
    /* -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: var(--font-color-on-white); */
    color: #202020;
    margin-bottom: 30px;
  }
  
  h3 {
    color: var(--font-color-on-white);
    margin-bottom: 15px;
  }
  
  h4 {
    color: var(--font-color-on-white);
    margin-bottom: 15px;
  }
  
  h5 {
    color: var(--font-color-on-white);
    margin-bottom: 15px;
  }
  
  h6 {
    color: var(--font-color-on-white);
    margin-bottom: 1rem;
  }
}